<div class="container">
<div class="row">
<!-- Nav tabs -->
<ul class="nav nav-tabs" style="background-color:#cecdc4;padding:10px 0 0 0;">
  <li><a href="#spotlight" data-toggle="tab">Spotlight</a></li>
  <li><a href="#news" data-toggle="tab">News</a></li>
  <li><a href="#events" data-toggle="tab">Events</a></li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content lowerSlider justify" style=";height:300px;border:1px solid black;">

  
    <div class="tab-pane active" id="spotlight">

      <div class='visible-sm visible-xs'>
        <div id="spotSlider" class="swipe">
          <div class="swipe-wrap">
            <div class="col-md-4">
              <h4>Sussing Sustainability</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>Winning Student Design</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>What's New at WSU?</h4>
              <p>text</p>
            </div>
          </div>
        </div>
      </div>

      <div class='visible-lg visible-md'>
        <div class="col-md-4">
          <h4>Sussing Sustainability</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>Winning Student Design</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>What's New at WSU?</h4>
          <p>text</p>
        </div>
      </div>

    </div>


  <div class="tab-pane" id="news">
    <!-- <h1>News</h1> -->
     <div class="tab-pane" id="spotlight">

      <div class='visible-sm visible-xs'>
        <div id="spotSlider" class="swipe">
          <div class="swipe-wrap">
            <div class="col-md-4">
              <h4>Sussing Sustainability</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>Winning Student Design</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>What's New at WSU?</h4>
              <p>text</p>
            </div>
          </div>
        </div>
      </div>

      <div class='visible-lg visible-md'>
        <div class="col-md-4">
          <h4>Sussing Sustainability</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>Winning Student Design</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>What's New at WSU?</h4>
          <p>text</p>
        </div>
      </div>

    </div> 


  </div>
  <div class="tab-pane" id="events">
    <div class="tab-pane" id="spotlight">

      <div class='visible-sm visible-xs'>
        <div id="spotSlider" class="swipe">
          <div class="swipe-wrap">
            <div class="col-md-4">
              <h4>Sussing Sustainability</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>Winning Student Design</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>What's New at WSU?</h4>
              <p>text</p>
            </div>
          </div>
        </div>
      </div>

      <div class='visible-lg visible-md'>
        <div class="col-md-4">
          <h4>Sussing Sustainability</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>Winning Student Design</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>What's New at WSU?</h4>
          <p>text</p>
        </div>
      </div>

    </div>


  </div>
  
</div>



</div>
</div>