<div class="container">
<div class="row">
<!-- Nav tabs -->
<ul class="nav nav-tabs" style="background-color:#cecdc4;padding:10px 0px 0 10px; !important;">
  <li class="active"><a style="" href="#spotlight" data-toggle="tab">Spotlight</a></li>
  <li class=""><a href="#news" data-toggle="tab">News</a></li>
  <li class=""><a href="#events" data-toggle="tab">Events</a></li>
  
</ul>

<!-- Tab panes -->
<div class="tab-content lowerSlider" style=";height:300px;border:0px solid black;">

  
    <div class="tab-pane active" id="spotlight">

      
      <div class='visible-sm visible-xs'>
        <div class="row">
        <div id="spotSlider" class="swipe">
          <div class="swipe-wrap" style="">
            <div class="col-md-4 col-xs-6">
              <div class="bucket sm-xs-margin">
              <h4>Sussing Sustainability</h4>
              <p>texts</p>
            </div>
            </div>
            <div class="col-md-4">
              <div class="bucket sm-xs-margin">
                <h4>Winning Student Design</h4>
                <p>text</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bucket sm-xs-margin">
                <h4>What's New at WSU?</h4>
                <p>text</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


      
        <div class='visible-lg visible-md' style="padding:10px;">

          <div class="col-md-4">
            <div class="bucket">
              <h4>Sussing Sustainability</h4>
              <p>text</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="bucket">
            <h4>Winning Student Design</h4>
            <p>text</p>
          </div>
          </div>
          <div class="col-md-4">
            <div class="bucket">
            <h4>What's New at WSU?</h4>
            <p>text</p>
          </div>
          </div>
        </div>
     

    </div>


  <div class="tab-pane" id="news">
    <!-- <h1>News</h1> -->
     <div class="tab-pane" id="spotlight">

      <div class='visible-sm visible-xs'>
        <div id="spotSlider" class="swipe">
          <div class="swipe-wrap">
            <div class="col-md-4">
              <div class="bucket">
                <h4>Sussing Sustainability</h4>
                <p>text</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bucket">
                <h4>Winning Student Design</h4>
                <p>text</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="bucket">
                <h4>What's New at WSU?</h4>
                <p>text</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- news -->
      <div class='visible-lg visible-md' style="padding:10px;">
        <div class="col-md-4">
          <div class="bucket">
            <h4>WSU Offers Early Separation Incentive to Eligible Employees</h4>
            <p>text</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bucket">
            <h4>Winning Student Design</h4>
            <p>text</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="bucket">
            <h4>Overcoming Obstacles</h4>
            <p>text</p>
          </div>
        </div>
      </div>

    </div> 


  </div>
  <div class="tab-pane" id="events">
    <div class="tab-pane" id="spotlight">

      <div class='visible-sm visible-xs'>
        <div id="spotSlider" class="swipe">
          <div class="swipe-wrap">
            <div class="col-md-4">
              <h4>Sussing Sustainability</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>Winning Student Design</h4>
              <p>text</p>
            </div>
            <div class="col-md-4">
              <h4>What's New at WSU?</h4>
              <p>text</p>
            </div>
          </div>
        </div>
      </div>

      <div class='visible-lg visible-md'>
        <div class="col-md-4">
          <h4>Sussing Sustainability</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>Winning Student Design</h4>
          <p>text</p>
        </div>
        <div class="col-md-4">
          <h4>What's New at WSU?</h4>
          <p>text</p>
        </div>
      </div>

    </div>


  </div>
  
</div>



</div>
</div>