<nav class="nav navbar-default" role="navigation" style="" id="mid-nav">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header col-xs-12">

    <div class="row">
      <div class="col-xs-5"><h5 class="visible-xs visible-sm">For information:</h5></div>
      <div class="col-xs-7">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    </div>
    
  </div>


    <!-- <div class="row"> -->
      <!-- <div class="col-md-2 col-xs-4 visible-md visible-lg">
        <h5>For information:</h5>
      </div> -->
     
        <div class="row">
      
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-image:none;">
            <div id="for-info">
              <p class="navbar-text" style="margin:10px 0;padding:0;">For information:</p>
            </div>
            <ul class="nav">
            <% @mid_nav.each do |mn| %>
              <li class="col-md-2"><%= link_to mn, '#' %></li>
            <% end %>
            </ul>
          </div>
      
      </div>
     
    <!-- </div>< row -->
  </div>
</nav>

