 <div id="topSlider" class="swipe">
  <div class="swipe-wrap">

    <div class="">
      <div class="col-md-7 col-xs-12">
        <%= image_tag 'WSU-2013-Artic-Exibit-Main.png', class: 'img-responsive main-img' %>
      </div>
      <div class="col-md-5 col-xs-12">
        <h1>Save the Date - Artic Art Exhibit</h1>
        <p>The WSU Art Department presents master printmaker Alina Jackiewicz-Kaczmarek's "Arctic" art exhibit Jan. 13-Feb. 12 in Watkins Gallery. The exhibit features works inspired by natural habitats undisturbed by the actions of civilization.</p>
        <p><a href="#"><i class="fa fa-chevron-right"></i> Read More</a></p>
      </div>
    </div>

    <div class="">
      <div class="col-md-7 col-xs-12">
        <%= image_tag 'rugby_2013_Story_Image.png', class: 'img-responsive main-img'  %>
      </div>
      <div class="col-md-5 col-xs-12">
        <h1>National Champs!</h1>
        <p>The Winona State Women’s Black Katts Rugby Team has made history, winning its first ever National DII Championship in a 28-14 victory over Notre Dame. The WSU team has been a finalist in the national competition for the past two years.</p>
        <p><a href="#"><i class="fa fa-chevron-right"></i> Read More</a></p>
      </div>
    </div>

    <div class="">
      <div class="col-md-7 cols-xs-12">
        <%= image_tag 'WSU-2013-Flag-Main.png', class: 'img-responsive main-img'  %>
      </div>
      <div class="col-md-5 col-xs-12">
        <h1>WSU Ranked a Best College for Veterans</h1>
        <p>WSU is ranked first among public universities in Minnesota by U.S. News and World Report's inaugural rankings "Best Colleges for Veterans." The ranking evaluated schools that participate in federal initiatives helping veterans and active service members.</p>
        <p><a href="#"><i class="fa fa-chevron-right"></i> Read More</a></p>
      </div>
    </div>

    <div class="">
      <div class="col-md-7 cols-xs-12">
        <%= image_tag 'frozen_river_Story_Image.png', class: 'img-responsive main-img'  %>
      </div>
      <div class="col-md-5 cols-xs-12">
        <h1>Save the Date</h1>
        <p>WSU hosts the annual Frozen River Film Festival. The opening film Jan. 24 is "Living Downstream" featuring cancer victim Sandra Steingraber as she uses her knowledge and training as a biologist to bridge the gap between science and the medical community.</p>
        <p><a href="#"><i class="fa fa-chevron-right"></i> Read More</a></p>
      </div>
    </div>
  </div>
</div>

<!-- <div style='position:relative;top:-40px;right:-1050px;'>
  
  <button onclick='topSwipe.prev()'>prev</button> 
  <button onclick='topSwipe.next()'>next</button>

</div> -->
